version: "3.9"

services:
  web:
    build: .
    image: personal-website
    container_name: personal-website
    env_file:
      - .env
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - staticfiles:/app/staticfiles
      - media:/app/media
      - db:/app/db.sqlite3

volumes:
  staticfiles:
  media:
  db:
