<nav class="py-3 border-b border-neutral-300 dark:border-neutral-700 shadow-sm dark:shadow-neutral-900/20">
    <div class="max-w-5xl mx-auto px-6 flex items-center justify-between">

        <a href="/" class="text-lg font-mono font-semibold text-blue-700 dark:text-blue-300">
            {{ settings.middle_name }} {{ settings.last_name }}
        </a>

        <div class="flex items-center gap-5 text-neutral-700 dark:text-neutral-300 text-sm font-medium">
            <a href="/" class="hover:text-blue-600 dark:hover:text-blue-400">Home</a>
            <a href="/articles/" class="hover:text-blue-600 dark:hover:text-blue-400">Articles</a>
            <a href="/projects/" class="hover:text-blue-600 dark:hover:text-blue-400">Projects</a>
            <a href="/contact/" class="hover:text-blue-600 dark:hover:text-blue-400">Contact</a>

            <button id="theme-toggle"
                class="px-2 py-1 rounded border bg-gray-200 text-black border-gray-400
                hover:bg-gray-300 transition
                dark:bg-neutral-800 dark:text-neutral-100 dark:border-neutral-600 dark:hover:bg-neutral-700">
                Theme
            </button>
        </div>
    </div>
</nav>
